:root {
  --blue: #2476FF;
  --white: #ffffff;
  --text: #677788;
}


body {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0;
  margin: 0px;
  padding: 0px;
  color: var(--text);
}

*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {text-decoration: none;
  color: var(--text);
}
p {margin-top: 0;}

h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.icons {
  width: 50px;
  height: 50px;
}

.container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.btn {
  font-weight: 700;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--blue);
  border: 1px solid transparent;
  padding: 15px 25px;
  font-size: 12px;
  margin: 0px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (min-width: 768px) {
  .container {max-width: 1024px}
}

