/* Ipads and Tablets */

@media screen and (max-width: 768px){
  
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ div ul {
    display: none;
  }

  [aria-expanded="true"] ~ div ul {
    display: flex;
}

  [aria-expanded="true"] ~ .top-section {
    margin-top: 500px;
  }

.first.container {
  gap: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 90px;
  left: 30%;
  gap: 75px;
}

.nav-list {
  display: flex;
}

.right-side {
  padding-top: 40px;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 135px;
  margin-top: 40px;
}

.left-side {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.small-icon-back.google {
  position: absolute;
  left: -250px;
  top: -65px;
}

.large-icon-back.atlassian {
  position: absolute;
  left: -60px;
  top: -65px;
}

.large-icon-back.asana {
  position: absolute;
  left: 185px;
  top: -60px;
}

.large-icon-back.paypal {
  position: absolute;
  left: -250px;
  top: 56px;
}

.large-icon-back.weave {
  position: absolute;
  left: 75px;
  top: 60px;
}

.small-icon-back.google-a {
  position: absolute;
  left: -135px;
  top: 175px;
}

.large-icon-back.calendar {
  position: absolute;
  left: 175px;
  top: 200px;
}


.key.container {
  margin-top: 235px;
}

.cards {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.software {
  margin: 0;
}

.software.container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bottom-left {
  justify-content: center;
}

.line {
  width: 58.5px;
}

.dots {
  position: absolute;
  width: 200px;
  height: 369.28px;
  left: 165px;
  top: 111px;
}

.woman-three {
  position: absolute;
  width: 371px;
  height: 425px;
  left: 220px;
  top: 0px;
}

.right-one {
  align-items: center;
  text-align: center;
  padding-top: 565px;
}

.trust {
  margin-top: 80px;
}

.monthly.container {
  flex-direction: column;
}

.left-month.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hire-us.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.l-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  margin-top: 40px;
  padding: 0px;
}

.l-side p {
  margin-right: 0px;
}

.l-side hr {
  width: 396px;
}

.whole-form {
  width: fit-content;
}

.names {
  margin-bottom: 30px;
}

.top-container.container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  column-gap: 40px;
}

.footer-r-side {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 50px;
}

}

/* Mobile Phones */

@media screen and (max-width: 375px){

}
