.front-logo {
  width: 154.9px;
  height: 46.1px;
  margin-right: auto;
}

.nav-bar .container{
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.nav-list {
  display: flex;
  gap: 20px;
  padding-right: 20px;
}

.features {
  color: var(--blue);
}

.btn {
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 15px 25px;
  display: inline-block;
  margin-right: 44px;
}

.top-section.container {
  padding-top: 80px;
  display: grid;
  grid-template-columns:repeat( auto-fit, minmax(350px, 1fr) );
}

.empower {
  font-size: 40px;
  color: black;
  line-height: 48px;
  width: 334px;
  height: 144px;
}

.bottom-left {
  display: flex;
  align-items: center;
}

.play.btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.learn {
  color: var(--blue);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.right-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.small-icon{
  width: 40px;
  height: 40px;
}

.large-icon {
  width: 48px;
  height: 48px;
}

.small-icon-back {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    flex-direction: row;
    justify-content: center;
    width: 60px;
    height: 60px;
    align-items: center;
    padding: 10px;
    position: relative;
}

.large-icon-back {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    flex-direction: row;
    justify-content: center;
    width: 80px;
    height: 80px;
    align-items: center;
    padding: 16px;
    position: relative;
}

.small-icon-back .google {
  left: 64px;
  top: 10px;
}

.large-icon-back .atlassian {
  left: 175px;
  top: 10px;
}

.large-icon-back .asana {
  left: 380px;
  top: 10px;
}

.large-icon-back .paypal {
  left: 44px;
  top: 172px;
}

.large-icon-back .weave {
  left: 262px;
  top: 172px;
}

.small-icon-back .google-a {
  left: 155px;
  top: 290px;
}

.large-icon-back .calendar {
  left: 364px;
  top: 310px;
}