.first.container {
  padding-bottom: 120px;
}

.front-logo {
  width: 154.9px;
  height: 46.1px;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 20px;
  padding-right: 20px;
}

.nav-link:hover {
  color: var(--blue);
}

.btn.buy-now {
  margin-left: 10px;
}

.btn {
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 15px 25px;
}

.top-section {
  padding-top: 80px;
  display: grid;
  grid-template-columns:repeat( auto-fit, minmax(350px, 1fr) );
}

.empower {
  font-size: 40px;
  color: black;
  line-height: 48px;
  width: 334px;
  height: 144px;
  margin-bottom: 11px;
  margin-top: 45px;
}

.bottom-left {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 24px;
}

.play.btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.learn {
  color: var(--blue);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.right-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.small-icon{
  width: 40px;
  height: 40px;
}

.large-icon {
  width: 48px;
  height: 48px;
}

.small-icon-back {
    background: #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: 60px;
    height: 60px;
    padding: 10px;
}

.large-icon-back {
    background: #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: 80px;
    height: 80px;
    padding: 16px;
}

.small-icon-back.google {
  position: absolute;
  left: 64px;
  top: 10px;
}

.large-icon-back.atlassian {
  position: absolute;
  left: 175px;
  top: 10px;
}

.large-icon-back.asana {
  position: absolute;
  left: 380px;
  top: 10px;
}

.large-icon-back.paypal {
  position: absolute;
  left: 44px;
  top: 172px;
}

.large-icon-back.weave {
  position: absolute;
  left: 262px;
  top: 172px;
}

.small-icon-back.google-a {
  position: absolute;
  left: 155px;
  top: 290px;
}

.large-icon-back.calendar {
  position: absolute;
  left: 364px;
  top: 310px;
}
.background {
  height: 488px;
  width: 765px;
  position: absolute;
  top: 0;
  background: linear-gradient(312.73deg, #d9d9d970 17.61%, rgba(217, 217, 217, 0) 55.85%);
}

#Mydiv {
  transform: skew(-20deg, -3deg);
  z-index: -1;
}

.background-two {
  background-color: #E1E7EF;
  position: absolute;
  height: 461px;
  width: 234px;
  top: 0px;
  right: 0px;
}

#Mydiv-two {
  transform: skew(-20deg, -3deg);
  z-index: -5;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 136px;
}

.benefits {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: black;
}

.back {
  display: flex;
    flex-wrap: wrap;
}